<?xml version="1.0"?>
<configuration>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <!--add name="SQLiteConnectString" connectionString="data source=E:\TempCentre\DB\TC.pst"/>-->
    <add name="SQLiteConnectString" connectionString="data source=test1.db"/>
  </connectionStrings>
  <appSettings>
    <add key="FileName" value="test1.db"/>
    <add key="Encrypt" value="true"/>
    <add key="InitSqlFile" value="script.sql"/>
  </appSettings>
</configuration>
